@import "normalizer.css";


.body{
    background: rgb(20,20,20);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    margin: 50% 0 0 0 ;
    position: relative;

}

h1,h2{
    text-align: center;
}

.wrapper{
    display: flex;
    height: 500px;
    width: 60%;
    margin: 0 auto;
    perspective: 450px;
    overflow: hidden;
    transform: perspective(300px) rotateX(40deg);
}
.audio{
    animation: infinite 30s;
}
.text-scroll{
    color: #ffc909;
    font-size: 3vw;
    line-height: 1.5em;
    font-weight: bold;
    text-align: justify;
    position: relative;
    animation: animation 30s linear infinite;
}

.text{
    margin: 20px;
}

@keyframes animation {
    0% { top: 550px; transform: translateZ(0) }
    100% { top: -1500px; transform: translateZ(-500px)}
}